.forcasts-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
    box-shadow: -5px 0px 6px 0px rgba(69,64,64,0.7);
}

.forecasts-up{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    height: 15rem;
    border-radius: 10px 10px 0 0;
    
}

.heart{
    width: 2rem;
    height:2rem ;
}

.today-weather{
    display: grid;
    grid-template-columns: 8rem 5rem;
    grid-template-rows: 50px 50px;
}

.item-a{
    grid-column: 1/2;
    grid-row:1/-1;
    width: 8rem;
    height: 5rem;
    justify-self: flex-start;
}

.item-b{
align-self: center;
justify-self: flex-start;
}

.item-c{
    justify-self: flex-start;
}

.forecasts-down{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: -5px 6px 6px 0px rgba(69,64,64,0.7);
    /* padding-top: 2rem; */
}

.forecasts-box{
    width: 7rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0.1rem black solid;
    border-radius: 8px;
    padding: 0.5rem;


}