.page-container{
    /* background-color: red; */
    /* height: calc(100vh - 20px); */
    background-image: url("../../imgs/clouds-background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin:0;
}

.animation{
    
}