.page-container{
    position: relative;
    background-image: url("../../imgs/clouds-background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin:0;
}

